{% extends  'layout/mainBackend.html.twig' %}

{% block pagetitle %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Detail příspěvku: {{ prispevek.nazev }}</h1>
        </div>
    </div>
{% endblock %}
{% block body %}
  <div class="row container-fluid">
    <table class="table">
        <tr>
            <th>Datum vytvoření</th>
            <th>Název</th>
            <th>Text</th>
            <th>Autor</th>
            <th>Stav</th>
            <th></th>
        </tr>
        <tr>
            <td>{{ prispevek.datumVytvoreni|date('d.m.Y H:i') }}</td>
            <td>{{ prispevek.nazev }}</td>
            <td>{{ prispevek.text }}</td>
            <td>{{ prispevek.prispevatel.email }}</td>
            <td>{{ prispevek.stav }}</td>
            <td></td>
        </tr>
    </table>
  </div>
  <div class="row container-fluid">
  <h3>Recenze</h3>
    <table class="table">
        <tr>
            <th>Datum napsání</th>
            <th>Odbornost</th>
            <th>Zajímavost</th>
            <th>Aktuálnost</th>
            <th>Text</th>
            <th></th>
        </tr>
        {% for recenze in prispevek.recenze %}
        <tr class="{% if recenze.odbornost + recenze.zajimavost + recenze.aktualnost > 7 %}success{% else %}danger{% endif %}">
            <td>{{ recenze.datumVytvoreni|date('d.m.Y H:i') }}</td>
            <td>{{ recenze.odbornost }}</td>
            <td>{{ recenze.zajimavost }}</td>
            <td>{{ recenze.aktualnost }}</td>
            <td>{{ recenze.text }}</td>
            <td>
              {% if recenze.autor == app.user %}
                <a href="{{ path('edit_recenze', {'recenze' : recenze.id}) }}"
                   class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
              {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
  </div>
{% endblock %}
{% block javascripts %}

{% endblock %}
