{% extends 'layout/mainBackend.html.twig' %}

{% block pagetitle %}
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Administrace příspěvků</h1>
    </div>
  </div>
{% endblock %}
{% block body %}
  <div class="row">
    <div class="panel-heading">
      <section id="filtr"
               class="{% if filter_form.vars.value is not empty %}filtered{% endif %} hidden-print">
          <h1 data-toggle="tooltip" data-placement="top" title="Pro podrobnější vyhledávání a filtrování příspevků klikněte.">
              <i class="glyphicon glyphicon-search"></i>
              Filtr Příspěvků
              <i class="glyphicon glyphicon-chevron-down pull-right filtr-opener"></i>
          </h1>
            {{ form_start(filter_form) }}
            {{ form_widget(filter_form) }}
            <br>
            <input type="submit" class="btn btn-primary" value="Filtrovat">
            {% if filter_form.vars.value is not empty %}
                <a href="{{ path("index_prispevek_backend", {'stav' : stav}) }}" class="btn btn-danger">Zrušit filtry</a>
            {% endif %}
            {{ form_end(filter_form) }}
          {% if filter_form.vars.value is not empty %}
              <div class="filter-footer">
                  <a href="{{ path("index_prispevek_backend", {'stav' : stav}) }}" class="btn btn-danger btn-xs">
                      <i class="glyphicon glyphicon-remove"></i>
                      Zrušit filtr
                  </a>
              </div>
          {% endif %}
      </section>
    </div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
              <th>{{ knp_pagination_sortable(pagination, 'Datum Vytvoření', 'p.datumVytvoreni') }}</th>
              <th>{{ knp_pagination_sortable(pagination, 'Název', 'p.nazev') }}</th>
              <th>{{ knp_pagination_sortable(pagination, 'Text', 'p.text') }}</th>
              <th>{{ knp_pagination_sortable(pagination, 'Téma', 't.nazev') }}</th>
              <th></th>
          </tr>
        </thead>
        <tbody>
          {% for prispevek in pagination %}
          <tr>
            <td class="col-md-1 col-sm-1 col-xs-1">{{ prispevek.datumVytvoreni|date('Y.m.d H.i.s') }}</td>
            <td class="col-md-1 col-sm-1 col-xs-1">{{ prispevek.nazev }}</td>
            <td class="col-md-6 col-sm-6 col-xs-6">{{ prispevek.text|truncate(250, true) }}</td>
            <td class="col-md-1 col-sm-1 col-xs-1">{{ prispevek.tema }}</td>
            <td class="col-md-3 col-sm-3 col-xs-3 text-right">
              {% if stav.id == 1 %}
                <a href="{{ path('add_recenzi', {'prispevek' : prispevek.id}) }}"
                   class="btn btn-success">
                    Napsat recenzi
                </a>
              {% endif %}
              <a href="#"
                 class="btn btn-info">
                  <span class="glyphicon glyphicon-search"></span>
              </a>
              <a href="#"
                 class="btn btn-primary">
                  <span class="glyphicon glyphicon-pencil"></span>
              </a>
              <a href="#"
                 class="btn btn-danger">
                  <span class="glyphicon glyphicon-remove"></span>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="clearfix"></div>
      <div class="navigation text-center">
          {{ knp_pagination_render(pagination) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascripts %}
<script>
  $(function () {
    $('#filtr h1').click(function (e) {
        var filtr = $(this).closest('#filtr');
        var sipka = $('.filtr-opener');
        if (filtr.hasClass('open'))
        {
            filtr.removeClass('open');
            sipka.removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
        }
        else
        {
            filtr.addClass('open');
            sipka.removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
        }

    })
  })
</script>
{% endblock %}
