{% extends  'layout/mainBackend.html.twig' %}

{% block pagetitle %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Administrace uživatelů</h1>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="panel-heading">
          <section id="filtr"
                   class="{% if filter_form.vars.value is not empty %}filtered{% endif %} hidden-print">
              <h1 data-toggle="tooltip" data-placement="top" title="Pro podrobnější vyhledávání a filtrování uživatelů klikněte.">
                  <i class="glyphicon glyphicon-search"></i>
                  Filtr uživatelů
                  <i class="glyphicon glyphicon-chevron-down pull-right filtr-opener"></i>
              </h1>
                {{ form_start(filter_form) }}
                {{ form_widget(filter_form) }}
                <br>
                <input type="submit" class="btn btn-primary" value="Filtrovat">
                {% if filter_form.vars.value is not empty %}
                    <a href="{{ path("index_uzivatel_backend") }}" class="btn btn-danger">Zrušit filtry</a>
                {% endif %}
                {{ form_end(filter_form) }}
              {% if filter_form.vars.value is not empty %}
                  <div class="filter-footer">
                      <a href="{{ path("index_uzivatel_backend") }}" class="btn btn-danger btn-xs">
                          <i class="glyphicon glyphicon-remove"></i>
                          Zrušit filtr
                      </a>
                  </div>
              {% endif %}
          </section>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                  <th>{{ knp_pagination_sortable(pagination, 'Uživatelské jméno', 'u.username') }}</th>
                  <th>{{ knp_pagination_sortable(pagination, 'Jméno', 'u.jmeno') }}</th>
                  <th>{{ knp_pagination_sortable(pagination, 'Příjmení', 'u.prijmeni') }}</th>
                  <th>{{ knp_pagination_sortable(pagination, 'Aktivní', 'u.enabled') }}</th>
                  <th>Role</th>
                </tr>
                </thead>
                <tbody>
                {% for uzivatel in pagination %}
                <tr>
                    <td>{{ uzivatel.username }}</td>
                    <td>{{ uzivatel.jmeno}}</td>
                    <td>{{ uzivatel.prijmeni }}</td>
                    <td>{% if uzivatel.enabled %}<span class="glyphicon glyphicon-ok success-color"></span>{% else %}<span class="glyphicon glyphicon-remove danger-color">{% endif %}</td>
                    <td>{% for role in uzivatel.roles %}{{ role }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                    <td class="text-right">
                      <a href="{{ path('edit_uzivatel', {'uzivatel' : uzivatel.id}) }}"
                         class="btn btn-primary">
                          <span class="glyphicon glyphicon-pencil"></span>
                      </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
      $(function () {
        $('#filtr h1').click(function (e) {
            var filtr = $(this).closest('#filtr');
            var sipka = $('.filtr-opener');
            if (filtr.hasClass('open'))
            {
                filtr.removeClass('open');
                sipka.removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
            }
            else
            {
                filtr.addClass('open');
                sipka.removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
            }

        })
      })
    </script>
{% endblock %}
